<div class="container">
  <div class="mb-4">
    <div class="col py-4">
      <h2 class="fs-1 fw-bold">Events</h2>
    </div>

    <a class="btn btn-primary mb-3" routerLink="/create" aria-label="New Event">
      <i class="bi bi-plus-lg"></i>
      New Article
    </a>
    <!-- SEARCH -->
    <app-event-search-fields
      class="d-block mb-5"
      (searchChange)="searchAttributes$.next($event)"
    ></app-event-search-fields>

    <table class="table table-sm">
      <thead>
        <tr>
          <th>Name</th>
          <th>Artist</th>
          <th>Location</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events$ | async">
          <td>{{ event.title }}</td>
          <td>{{ event.artist.fictionalName || event.artist.firstname + " " + event.artist.lastname }}</td>
          <td>{{ event.hall.location.title }}</td>
          <td>{{ event.startDate.toLocaleDateString([], { hour: 'numeric', minute: 'numeric' }) }}</td>
          <td>{{ event.endDate.toLocaleDateString([], { hour: 'numeric', minute: 'numeric' }) }}</td>
          <td>
            <!-- ACTIONS -->
            <div class="btn-group">
              <a class="btn btn-sm responsive-info-button"
                 [routerLink]="[event.id]"
                 aria-label="Show horse details">
                <i class="bi bi-info-lg"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-center mt-4">
      <ngb-pagination
        [(page)]="pageableState.currentPage"
        [pageSize]="pageableState.pageSize"
        [collectionSize]="pageableState.totalElements"
        (pageChange)="onPageChange($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
