<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand ms-lg-5" routerLink="/">
      <img ngSrc="/assets/logo.png" alt="Ticketline Logo" width="260" height="60">
    </a>
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
            aria-controls="mainNavigation" [attr.aria-expanded]="!isNavbarCollapsed" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="mainNavigation">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" *ngIf="authService.isLoggedIn()" routerLink="/news"
             routerLinkActive="active">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="authService.getUserRole() === 'ADMIN'" routerLink="/management"
             routerLinkActive="active">Management</a>
        </li>
      </ul>
      <div class="d-flex flex-column flex-lg-row align-items-start">
        <form class="d-flex search-form">
          <div class="input-group me-2">
            <input class="form-control" type="search" placeholder="Search for artists, events, &hellip;"
                   aria-label="Search for artists, events, and more">
            <button class="btn btn-gray" type="submit">Search</button>
          </div>
        </form>
        <a class="btn text-light mt-2 mt-lg-0" *ngIf="!authService.isLoggedIn()" routerLink="/login">
          login / register
        </a>
        <a class="btn text-light mt-2 mt-lg-0" *ngIf="authService.isLoggedIn()" routerLink="/profile">
          <i class="bi bi-person-circle"></i>
          My profile
        </a>
      </div>
    </div>
  </div>
</nav>
