<div class="container">
  <div class="mb-4">
    <div class="col py-4">
      <h2 class="fs-1 fw-bold">Create new Event</h2>
    </div>

    <form (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
      <div class="row">
        <div class="mb-2 col-lg-6">
          <div class="row">
            <label for="eventTitle" class="col-form-label text-muted col-md-2 col-lg-4">Title</label>
            <input
              type="text"
              id="eventTitle"
              name="eventTitle"
              placeholder="Event Name"
              class="form-control"
              [(ngModel)]="event.title"
              required>
            <div class="invalid-feedback">
              Title is required
            </div>
          </div>

          <div class="row mt-3">
            <label class="col-form-label text-muted col-md-2 col-lg-4">Artist</label>
            <select class="form-select" aria-label="Select Artist" #selectArtist (change)="onArtistSelected(selectArtist.value)">
              <option *ngFor="let artist of artists">{{ artist.fictionalName}}{{ artist.firstname }} {{ artist.lastname }}</option>
            </select>
          </div>

          <div class="row mt-3">
            <label class="col-form-label text-muted col-md-2 col-lg-4">Hall</label>
            <select class="form-select" aria-label="Select Hall" #selectHall (change)="onHallSelected(selectHall.value)">
              <option *ngFor="let hall of halls">{{ hall.name }}, {{ hall.location.title }}</option>
            </select>
          </div>

          <div class="row mt-3">
            <label for="eventStandingPrice" class="col-form-label text-muted col-md-2 col-lg-4">Price for Standing</label>
            <input
              type="number"
              id="eventStandingPrice"
              name="eventStandingPrice"
              placeholder="xx,xx"
              class="form-control"
              value="40"
              [(ngModel)]="event.standingPrice"
              required>
            <div class="invalid-feedback">
              Standing Price is required
            </div>
          </div>

          <div class="row mt-3">
            <label for="eventSeatingPrice" class="col-form-label text-muted col-md-2 col-lg-4">Price for Seating</label>
            <input
              type="number"
              id="eventSeatingPrice"
              name="eventStandingPrice"
              placeholder="xx,xx"
              class="form-control"
              value="60"
              [(ngModel)]="event.seatPrice"
              required>
            <div class="invalid-feedback">
              Seating Price is required
            </div>
          </div>
        </div>

        <div class="mb-2 col-lg-6">
          <div class="row mx-2">
            <label for="startDate" class="col-form-label text-muted col-md-2 col-lg-4">Start Time</label>
            <input
              type="date"
              id="startDate"
              name="eventStartDate"
              placeholder="yyyy-mm-dd"
              class="form-control"
              [(ngModel)]="event.startDate"
              required>
            <div class="invalid-feedback">
              Start Time is required
            </div>
          </div>

          <div class="row mt-3 mx-2">
            <label for="endDate" class="col-form-label text-muted col-md-2 col-lg-4">End Time</label>
            <input
              type="date"
              id="endDate"
              name="eventEndDate"
              placeholder="yyyy-mm-dd"
              class="form-control"
              [(ngModel)]="event.endDate"
              required>
            <div class="invalid-feedback">
              End Time is required
            </div>
          </div>

          <div class="row mt-3 mx-2">
            <label for="eventImage" class="col-form-label text-muted col-md-2 col-lg-4">Upload Image</label>
            <input
              type="file"
              id="eventImage"
              name="eventImage"
              class="form-control"
              alt="image for event"
              (change)="onFileChanged($event)"
              accept="image/*">
            <small *ngIf="event.image" class="text-success">Image selected successfully!</small>
          </div>
          <div class="row mt-3 mx-2">
            <label class="col-form-label text-muted col-md-2 col-lg-4">Event Type</label>
            <select class="form-select" aria-label="Select Type" #selectType (change)="onTypeSelected(selectType.value)">
              <option>unknown</option>
              <option>concert</option>
              <option>show</option>
              <option>festival</option>
              <option>sport</option>
              <option>culture</option>
            </select>
          </div>

        </div>
        <div class="mt-4 d-flex flex-row end-0">
          <button type="submit"
                  class="btn btn-primary">
            Create Event
          </button>
        </div>
      </div>
    </form>

  </div>
</div>
