<div class="container">
  <div class="pt-5">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <form class="rounded-4 border border-1 border-gray">
          <div class="border-bottom border-1 border-gray p-3 text-center">
            <h4 class="mb-0">Contact us</h4>
          </div>

          <div class="p-3">
            <div class="d-flex justify-content-around mb-3">
              <div class="text-center">
                <i class="bi bi-telephone-fill contact-icon"></i>
                <p class="text-description mb-2 fw-bold fs-5 text-uppercase">Phone</p>
                <b><a href="tel:+4366012345678">+43 660 12345678</a></b>
                <p class="text-description my-1 small">Customer service available<br>Mon-Fri, 8 am - 6 pm</p>
              </div>

              <div class="text-center">
                <i class="bi bi-envelope-at-fill contact-icon"></i>
                <p class="text-description mb-2 fw-bold fs-5 text-uppercase">E-mail</p>
                <b><a href="mailto:ticketline@gmbh.com">ticketline@gmbh.com</a></b>
                <p class="text-description my-1 small">E-mail response within 24 hours</p>
              </div>
            </div>
          </div>
        </form>

        <div class="text-center mt-2">
          <div>
            <a routerLink="/login" class="btn btn-link">Return to login here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
