<div class="container">
  <div class="pt-5">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <form class="rounded-4 border border-1 border-gray">
          <div class="border-bottom border-1 border-gray p-3 text-center">
            <h4 class="mb-0">Contact us</h4>
          </div>

          <div class="p-3">
            <div class="d-flex justify-content-around mb-3">
              <div class="text-center">
                <i class="bi bi-telephone-fill" style="font-size: 100px;"></i>
                <p class="text-description mb-2" style="font-family: bold; color: black; font-size: larger;">PHONE</p>
                <b>+43 660 12345678</b>
                <p class="text-description mb-1" style="font-size: 14px;">Customer service available<br>Mon-Fri, 8 am - 6 pm</p>
              </div>

              <div class="text-center">
                <i class="bi bi-envelope-at-fill" style="font-size: 100px;"></i>
                <p class="text-description mb-2" style="font-family: bold; color: black; font-size: larger;">EMAIL</p>
                <b>ticketline@gmbh.com</b>
                <p class="text-description mb-1 mt-1" style="font-size: 14px;">E-mail response within 24 hours</p>
              </div>
            </div>
          </div>
        </form>

        <div class="text-center mt-2">
          <div>
            <a routerLink="/login" class="btn btn-link">Return to login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
