<div class="container">
  <div class="mb-4">
    <div class="col py-4">
      <h2 class="fs-1 fw-bold">Management</h2>
    </div>

    <div class="d-flex">
      <div class="p-5 bg-light rounded-3 m-3">
        <a class="fs-3 fw-bold" routerLink="/management/events">Events</a>
      </div>
      <div class="p-5 bg-light rounded-3 m-3">
        <a class="fs-3 fw-bold" routerLink="/management/news">News</a>
      </div>
      <div class="p-5 bg-light rounded-3 m-3">
        <a class="fs-3 fw-bold" routerLink="/management/users">Users</a>
      </div>
    </div>


  </div>
</div>
