<div class="container">
  <div class="mb-4">
    <div class="col py-4">
      <h2 class="fs-1 fw-bold">News</h2>
    </div>
    <div class="btn-group" role="group" *ngIf="selectedRequestType$ | async as selectedRequestType">
      <button type="button" class="btn btn-outline-dark"
              [class.active]="selectedRequestType === NewsReqType.Unread"
              (click)="setRequestType(NewsReqType.Unread)">
        Unread
      </button>
      <button type="button" class="btn btn-outline-dark"
              [class.active]="selectedRequestType === NewsReqType.Read"
              (click)="setRequestType(NewsReqType.Read)">
        Read
      </button>
    </div>

    <div class="news row">
      <app-news-list-item
        class="col-12 col-sm-6 col-md-4 col-lg-3"
        *ngFor="let news of newsList$ | async"
        [newsItem]="news"
      ></app-news-list-item>
    </div>

    <div *ngIf="selectedRequestType$ | async as selectedRequestType">
      <div class="d-flex justify-content-center mt-4" *ngIf="selectedRequestType === NewsReqType.Unread">
        <p class="text-muted">
          Searching for an article you have already read?
          <a type="button" class="btn-link fw-bold"
             (click)="setRequestType(NewsReqType.Read)">
            Go to read news
          </a>
        </p>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-4">
      <ngb-pagination
        [(page)]="pageableState.currentPage"
        [pageSize]="pageableState.pageSize"
        [collectionSize]="pageableState.totalElements"
        (pageChange)="onPageChange($event)"
        [maxSize]="pageableState.maxSize"
      ></ngb-pagination>
    </div>
  </div>
</div>
