/* You can add global styles to this file, and also import other style files */
$primary: #011568;
$secondary: #e94d52;

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

body {
  background-color: whitesmoke;
}
